// ==============================
// Iconfont
// ==============================

@font-face {
  font-family: 'iconfont';  /* project id 520823 */
  src: url('//at.alicdn.com/t/font_520823_0lkon52l0vz5xw29.eot');
  src: url('//at.alicdn.com/t/font_520823_0lkon52l0vz5xw29.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_520823_0lkon52l0vz5xw29.woff') format('woff'),
  url('//at.alicdn.com/t/font_520823_0lkon52l0vz5xw29.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_520823_0lkon52l0vz5xw29.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

.icon-twitter:before {
  content: "\e638";
}
.icon-weibo:before {
  content: "\e71d";
}
.icon-stack-overflow:before {
  content: "\ec1d";
  font-size: .85em;
  position: relative;
  top: -4px;
}
.icon-email:before {
  content: "\e635";
  position: relative;
  top: -2px;
}
.icon-facebook:before {
  content: "\e601";
  font-size: .95em;
  position: relative;
  top: -2px;
}
.icon-github:before {
  content: "\e646";
  position: relative;
  top: -3px;
}
.icon-rss:before {
  content: "\e662";
}
.icon-google:before {
  content: "\e69b";
}
.icon-zhihu:before {
  content: "\e600";
  font-size: .9em;
  position: relative;
  top: -2px;
}
.icon-pocket:before {
  content: "\e85c";
}

.icon-segmentfault:before {
  content: "\e610";
  font-size: .85em;
  position: relative;
  top: -4px;
}

.icon-V2EX:before {
  content: "\e63b";
  font-size: .85em;
  position: relative;
  top: -4px;
}

/* Generic Icon */
.icon-heart:before {
  content: "\e603";
}
.icon-right:before {
  content: "\e6e0";
}
.icon-left:before {
  content: "\e602";
}
.icon-up:before {
  content: "\e609";
}
.icon-close:before {
  content: "\e637";
}